
@{
    ViewBag.Title = "Testimonial";
}

<h2>Testimonial</h2>

<h3>Quotes from current students</h3>


<ul>
    <li>
        It's what they say — if it's easy, it's not worth it. Studying Computing Science was not the easiest thing in my life, but definitely one of the best. It taught me to learn and to think differently. You will meet some of the smartest people - and you will be one of them. Every professor in the department cheers for you, even if they don't show it
        <br />
        I had a chance to study in several faculties and I can truly say that CS is one of the strongest: those who graduated - we're all around the world making a difference now... and good money! I learned so much from my professors, classmates and myself through hard work and determination. This education gave me a very solid foundation to feel confident and comfortable in my skills and knowledge to move forward and not settle.

        - Sam Prashker
    </li>



    <li>

        I chose to study Computer Science because of my avid interest in technology and the great opportunities it afforded me going forward. I have always been really passionate about technology, and always intended on pursuing a career within the field.  I enjoyed Science subjects at school with the investigative, logical and problem-solving skills I gained here being of great benefit to me in this course

        -  Ryan Kane
    </li>
    </ul>

