
@{
    ViewBag.Title = "Index";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
<h2>Computer Science Program kelly</h2>
    </div> 
<br />
<div>
    <h4>About The Program</h4>
    <p>
        Computer Science Technology is a three-year career program designed to provide you with a strong background in object-oriented methodology, particularly in program design and system analysis. Web concepts are integrated into a majority of courses and focus on the development of dynamic database-driven web applications on a variety of operating system platforms. The program will focus on computer programming, operating systems, database and web technology, data communication and networking, security and advanced programming languages.

    </p>

</div>
