
@{
    ViewBag.Title = "Semester5";
}

<link href="@Url.Content("~/Content/Semester5.css")" rel="stylesheet" type="text/css" />

<h2>Semester5</h2>


<h3>Courses:</h3>

<table>
    <tr>
        <th>No.</th>
        <th>Course Name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Database Administration and Security</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mobile Application Development 2: iOS</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Final Projject 1</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Azure for SQL Developers with ASP.NET and MVC</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Design and Prototyping of Connected Devices</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Professional Integration and High-tech Entrepreneurship</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Complementary</td>
    </tr>


</table>